{% extends "base.html" %}
{% load static %}

{% block headstyle %} <link rel="stylesheet" href="{% static 'css/agendar.css' %}"> {% endblock %}

{% block titulo %} Articulos {% endblock %}

{% block contenido %} 
<header>Agendamiento de horas</header>
<div id="agendar" class="form-princ">
    <form action="#">
        <!--Pagina 1-->
        <div class="pagina">
            <div class="titulo">Lo primero: Quien Y Cómo</div>
            <!--Campo 2-->
            <div class="campo">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Seleccione un terapeuta
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Psi. Alejandro</a></li>
                        <li><a class="dropdown-item">Psi. Natalia</a></li>
                    </ul>
                  </div>
            </div>
            <!--Campo 2-->
            <div class="campo">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Seleccione modalidad
                    </button>
                    <ul class="dropdown-menu"> 
                        <li><a class="dropdown-item">Online</a></li>
                        <li><a class="dropdown-item">Presencial</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Pagina 2-->
        <div class="pagina">
            <div class="titulo">Calendario</div>
            <div class="campo">
                <input type="date" id="calendario">
                
            </div>
        </div>
    </form>
</div>

<script src="{% static 'js/agendar.js' %}"></script>
{% endblock %}

