{% extends "base.html" %}
{% load static %}

{% block headstyle %} <link rel="stylesheet" href="{% static 'css/articulos.css' %}"> {% endblock %}

{% block titulo %} Articulos {% endblock %}

{% block contenido %} 
<div id="articulos" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Articulos</h1>
            <p>
                Dejamos a tu disposición esta serie de articulos que podrían ayudarte a entender
                algunas de las situaciones por las que podrías estar pasando. desde una perspectiva
                psicologica, con un poco de suerte, el conocimiento que puedas obtener podrá ayudarte a sobrellevar
                el mal tiempo. pero si no es así y sientes que algunas situaciones te sobrepasan, deberías
                buscar ayuda profesional. 
            </p>
            <p>
                En SAMAR sabemos que para algunas personas, solicitar ayuda
                psicologica puede sonar a taboo; pero recuerda, es mejor estar mejor.
                <br>
                Da el primer paso. Comunicate con nosotros
            </p>
        </div>

        
    </div>
</div>
{% endblock %}