/************
Universal
***********/
*{
    list-style: none;
    margin: 0;
    padding: 0;
}
/************
Header
***********/

/*Top Header - Social bar*/
#top-header{
    float: right;
}
    #top-header{
        background: #9acdd9;
        width: 100%;
        height: 30px;
        position: fixed;
        color: white;
    }
        #top-header li{
            margin:0 100px;
            display: inline-block;
            line-height: 30px;
        }
            #top-header li a{
                color: white;
            }


/*nav bar*/
.navbar{
    padding: 30px;
}
